<!-- Navegação inferior para dispositivos móveis -->
<div class="lg:hidden fixed bottom-0 left-0 right-0 bg-white border-t border-gray-200 z-50">
    <div class="flex justify-around py-2">
        <a href="{% url 'dashboard' %}" class="flex flex-col items-center text-blue-600 p-2">
            <i class="fas fa-home text-xl"></i>
            <span class="text-xs mt-1">Home</span>
        </a>
        <a href="#" class="flex flex-col items-center text-gray-500 p-2">
            <i class="fas fa-vial text-xl"></i>
            <span class="text-xs mt-1">Produtos</span>
        </a>
        <a href="#" class="flex flex-col items-center text-gray-500 p-2">
            <i class="fas fa-boxes text-xl"></i>
            <span class="text-xs mt-1">Lotes</span>
        </a>
        <a href="#" class="flex flex-col items-center text-gray-500 p-2">
            <i class="fas fa-exchange-alt text-xl"></i>
            <span class="text-xs mt-1">Mov.</span>
        </a>
        <a href="#" class="flex flex-col items-center text-gray-500 p-2">
            <i class="fas fa-user text-xl"></i>
            <span class="text-xs mt-1">Perfil</span>
        </a>
    </div>
</div>