<nav class="bg-white shadow-md dark:bg-gray-800">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
            <div class="flex">
                <div class="flex-shrink-0 flex items-center">
                    <a href="{% url 'dashboard' %}" class="text-2xl font-bold text-primary-600">StockLab</a>
                </div>
            </div>
            <div class="flex items-center space-x-4">
                {% include 'partials/theme_toggle.html' %}
                <p class="text-gray-600 dark:text-gray-300">Usuário: {{ request.user.username }}</p>
            </div>
        </div>
    </div>
</nav>
